{% extends 'entry/base.html' %}
{% block content %}

    <div class="container-Fluid">
        <div class="row">
            {% for diary in diaries %}

                <div class="card col-md-5 mt-5 ml-5">
                    <div class="card-body">
                        <h5 class="card-title">{{ diary.title|title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ diary.created_on }}</h6>
                        <p class="card-text" style="width:10%">
                            {# To render HTML contents without escaping. #}
                            {% autoescape off %}
                                {{ diary.content|truncatechars_html:200 |safe }}
                            {% endautoescape %}
                        </p>
                        

                    </div>
                    <div class="card-footer">
                        <a href="{% url 'detail' diary.id %}" class="card-link btn btn-primary btn-block btn-lg">Read
                            More</a>
                    </div>
                </div>
             
            {% endfor %}
        </div>
        {% if icon %}
            <div class="text-center">
                <p class="text-muted">There's nothing to show</p>
                <img height="300" src="/static/icons/empty-easter-basket.jpg" alt="Nothing to Show">
            </div>
        {% endif %}
    </div>

{% endblock %}