{% load static %}

<!DOCTYPE html>
<html>




<head>
  <title>My Diary</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <meta name="google" content="notranslate"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

</head>

<body>
{% include 'messages.html' %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"> Diary App</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

         
          {% if request.user.is_authenticated %} 
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="{% url 'entry' %}">Dashboard</a>
          </li>
        {%else%}
        <li class="nav-item text-black">
          <a class="nav-link text-black font-weight-bold" href="{% url 'user_login' %}">Sign In</a>
        </li>
          {% endif %}
          <li class="nav-item text-black">
            <a class="nav-link text-black font-weight-bold" href="/contact">Contact</a>
          </li>
        
         <form method='get' action="/search" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name='q'  type="search" placeholder="Search" aria-label="Search" >
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    </ul>
      </div>
    </div>
    </div>
  </nav>


  {% block content %}
  <!-- Content Goes here -->
  {% endblock content %}

  <!-- Footer -->
  <footer class="py-3 bg-grey">
    <p class="m-0 text-dark text-center ">Copyright &copy; www.dsmie.com</p>
    <a  href="https://github.com/mrdeepakpatidar" target="_blank">
      <button class="btn btn-light rounded text-dark float-right">
          <img class="mb-1" height="30"
               src="https://i.pinimg.com/originals/3e/b2/ed/3eb2edd1e1079c1c7891543f3f50ce06.png">
          &nbsp;Developed and Designed by <span class="font-weight-bold">Deepak Patidar</span>
      </button>
  
  </a>
  </footer>
  <!-- bootstrap scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
  
</body>




</html>