
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon-32x32.png">
  <title>Digital LIC (makeITeasy)</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>
  <link rel="stylesheet" href="/static/css/sty1.css">
  
</head>
<body>


<a class="navbar-brand logo_h" href="#">   
<img src="/static/img/logo3.png"  alt=""/></a>


<div class="container" id="container">    
    <div class="form-container sign-in-container">
        <form method="POST" action="{% url 'user_login' %}">
            {% csrf_token %}
            
            <h1>Sign in</h1>
            <br>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} alert-dismissible fade show mb-0" role="alert">
              <strong></strong> {{message}}
              
            </div>
            {% endfor %}
            {% endif %}
            <div class="social-container">
                
            </div>
            <b><span>or use your account</span></b>
            <input type="text" name="username" placeholder="username" required="" />
            <input type="password" name="password" placeholder="password"  required="" />
            <a href="{% url 'password_reset' %}">Forgot your password?</a>
            <button>Sign In</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                
            </div>
        </div>
    </div>
</div>

<script  src="/static//script.js"></script>

</body>
</html>







<!-- <div class="col-md-12">
                <div class="#" id="mymodal">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button class="close" data-dismiss="">&times;</button>
                            </div>
                            <div class="">
                                <form action="{% url 'user_login' %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label>Username</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                            </div>
                                            <input type="text" name="username" class="form-control" placeholder="Enter Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Password</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fa fa-key"></i>
                                                </span>
                                            </div>
                                            <input type="password" name="password" class="form-control" placeholder="Enter Password">
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                        <input type="checkbox" name="rememberme"> <label for="">Remember me</label>
                                        <a href="{% url 'password_reset' %}">Forgot Password?</a>
                                    </div>
                                
                                    <div class="form-group">
                                        <input type="submit" value="submit" class="btn btn-success">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->