<!-- <h2>Reset Password</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">submit</button>
</form> -->
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon-32x32.png">
  <title>Digital LIC (makeITeasy)</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>
  <link rel="stylesheet" href="/static/css/sty1.css">
  
</head>
<body>
<a class="navbar-brand logo_h" href="{% url 'home' %}">   
<img src="/static/img/logo3.png"  alt=""/></a>
<div class="container" id="container">    
    <div class="form-container sign-in-container">
        <form method="POST">
            {% csrf_token %}
            
            <h1>Reset Password</h1>
            <br><br>
            <input type="text" name="email" placeholder="Email" required="" />
            
            <a href="{% url 'user_login' %}">Sign In?</a>
            <button>submit</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                
            </div>
        </div>
    </div>
</div>
<script  src="/static//script.js"></script>
</body>
</html>





