<!-- <h2>Reset Password</h2>
<h3>Enter your new password</h3>
{% load crispy_forms_tags %}

<form class="form" action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form|crispy }}
<button type="submit" class="btn btn-primary btn-lg btn-block"><i class="icon-lock4"></i> Change Password</button>
</form>                      
 -->


<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon-32x32.png">
  <title>Digital LIC (makeITeasy)</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css'>
  <link rel="stylesheet" href="/static/css/sty1.css">
  
</head>
<body>
<a class="navbar-brand logo_h" href="{% url 'home' %}">   
<img src="/static/img/logo3.png"  alt=""/></a>
<div class="container" id="container">    
    <div class="form-container sign-in-container">
      {% load crispy_forms_tags %}
        <form method="POST" class="form">
            {% csrf_token %}            
            
            <h1>Create a Strong Password</h1>
            <br><br>

            <input type="password" id="input-email" name="new_password1" autocomplete="new-password"  class="form-control form-control-alternative" 
            placeholder="New_Password" required id="id_new_password1">
              
            <input type="password" id="input-email" name="new_password2"  autocomplete="new-password" class="form-control form-control-alternative" 
            placeholder="New_Password" required id="id_new_password2">

            <a href="{% url 'user_login' %}">Sign In?</a>
            <button>Change Password</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>New Password!</h1>
                <br>
                <p>Your password can’t be too similar to your other personal information.</p>
                
                <p>Your password must contain at least 8 characters.</p>
                <p>Your password can’t be a commonly used password.</p>
                <p>Your password can’t be entirely numeric.</p>
            </div>
        </div>
    </div>
</div>
<script  src="/static//script.js"></script>
</body>
</html>





